html,
body {
  background-color: #e9ecef;
}

body {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin: 200px;
  padding: 100px;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  size-adjust: 80%;
}
/* Adiciona cor escura à linha ao passar o mouse */
.p-datatable .p-highlight {
  background-color: #e0e0e0 !important; /* Altere para a cor desejada */
  transition: background-color 0.2s ease-in-out; /* Transição suave */
}

.p-datatable-header{
  padding: 0;
}

/* Mantém o texto visível ao passar o mouse */
.p-datatable .p-highlight:hover {
  background-color: #c7c7c7 !important; /* Escurece ainda mais ao passar o mouse */
}

#buscaCurso{
  width: auto;
}

.p-tabview-nav {
  display: flex;
  justify-content: space-around;
}

.p-tabview.p-component {
  width: 100%;
}

@tailwind components;
/* @tailwind base; */

/* cria um apply */
@layer components {
  .anchor-link {
    @apply text-white no-underline hover:text-gray-300 hover:underline;
  }
}

.p-avatar:not(.p-avatar-circle) img {
  border-radius: 6px;
}



.multiselect-container .p-multiselect {
  white-space: normal;
  word-wrap: break-word;
}

.multiselect-container .p-multiselect-label {
  white-space: normal !important;
}

/* .p-inputswitch-slider {
  border: 1px solid #f97316;
} */

.p-inputswitch .p-inputswitch-slider {
  background: #d1d5db;
  transition: none;
  border-radius: 30px;
  outline-color: transparent;
}

.p-inputswitch.p-highlight .p-inputswitch-slider {
  background: #f97316;
}

.suggestions-container {
  position: absolute;
  width: 100%;
  top: 100%; /* Alinha as sugestões logo abaixo do input */
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

